# CircleCI 2.0 configuration file. See <https://circleci.com/docs/2.0/language-python/>.
version: 2
jobs:
  build_python2:
    docker:
      - image: python:2.7.14

    steps:
      - checkout

      - restore_cache:
          key: v1-py2-{{ checksum "setup.py" }}

      - run:
          name: Create a virtualenv
          command: |
            mkdir -p /tmp/venv/country_template
            virtualenv /tmp/venv/country_template
            echo "source /tmp/venv/country_template/bin/activate" >> $BASH_ENV

      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip twine wheel
            # pip install --editable git+https://github.com/openfisca/openfisca-core.git@BRANCH#egg=OpenFisca-Core[web-api]  # use a specific branch of OpenFisca-Core
            pip install --editable .[dev] --upgrade

      - save_cache:
          key: v1-py2-{{ checksum "setup.py" }}
          paths:
            - /tmp/venv/country_template

      - run:
          name: Run tests
          command: make test

      - run:
          name: Check version number has been properly updated
          command: |
            git fetch
            .circleci/is-version-number-acceptable.sh

  deploy_python2:
    docker:
      - image: python:2.7.14
    environment:
      PYPI_USERNAME: openfisca-bot  # Edit this value to replace it by your Pypi username
      # PYPI_PASSWORD: this value is set in CircleCI's web interface; do not set it here, it is a secret!

    steps:
      - checkout

      - restore_cache:
          key: v1-py2-{{ checksum "setup.py" }}

      - run:
          name: Check for functional changes
          command: if ! .circleci/has-functional-changes.sh ; then circleci step halt ; fi

      - run:
          name: Upload a Python package to Pypi
          command: |
            source /tmp/venv/country_template/bin/activate
            .circleci/publish-python-package.sh

      - run:
          name: Publish a git tag
          command: .circleci/publish-git-tag.sh

  build_python3:
    docker:
      - image: python:3.7

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-{{ checksum "setup.py" }}

      - run:
          name: Create a virtualenv
          command: |
            mkdir -p /tmp/venv/country_template
            python -m venv /tmp/venv/country_template
            echo "source /tmp/venv/country_template/bin/activate" >> $BASH_ENV

      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip twine wheel
            # pip install --editable git+https://github.com/openfisca/openfisca-core.git@BRANCH#egg=OpenFisca-Core[web-api]  # use a specific branch of OpenFisca-Core
            pip install --editable .[dev] --upgrade

      - save_cache:
          key: v1-py3-{{ checksum "setup.py" }}
          paths:
            - /tmp/venv/country_template

      - run:
          name: Run tests
          command: make test

      - run:
          name: Check version number has been properly updated
          command: |
            git fetch
            .circleci/is-version-number-acceptable.sh

  deploy_python3:
    docker:
      - image: python:3.7
    environment:
      PYPI_USERNAME: openfisca-bot  # Edit this value to replace it by your Pypi username
      # PYPI_PASSWORD: this value is set in CircleCI's web interface; do not set it here, it is a secret!

    steps:
      - checkout

      - restore_cache:
          key: v1-py3-{{ checksum "setup.py" }}

      - run:
          name: Check for functional changes
          command: if ! .circleci/has-functional-changes.sh ; then circleci step halt ; fi

      - run:
          name: Upload a Python package to Pypi
          command: |
            source /tmp/venv/country_template/bin/activate
            .circleci/publish-python-package.sh

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_python2
      - build_python3
      - deploy_python2:
          requires:
            - build_python2
            - build_python3
          filters:
            branches:
              only: master
      - deploy_python3:
          requires:
            - build_python2
            - build_python3
          filters:
            branches:
              only: master
